<!DOCTYPE html>
<html class=" ">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME='CHARSET'>">
		<title><TMPL_VAR NAME='LNG_AdministrationPanel'></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link rel="shortcut icon" href="<TMPL_VAR NAME='PATH2MAIN'>images/favicon.png" type="image/x-icon" /> 
		<link rel="apple-touch-icon-precomposed" href="<TMPL_VAR NAME='PATH2MAIN'>images/apple-touch-icon-57-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<TMPL_VAR NAME='PATH2MAIN'>images/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<TMPL_VAR NAME='PATH2MAIN'>images/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<TMPL_VAR NAME='PATH2MAIN'>images/apple-touch-icon-144-precomposed.png">

		<link href="<TMPL_VAR NAME='PATH2MAIN'>plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>css/animate.min.css" rel="stylesheet" type="text/css"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css"/>

		<link href="<TMPL_VAR NAME='PATH2MAIN'>plugins/icheck/skins/square/orange.css" rel="stylesheet" type="text/css" media="screen"/>  

		<link href="<TMPL_VAR NAME='PATH2MAIN'>css/style.css" rel="stylesheet" type="text/css"/>
		<link href="<TMPL_VAR NAME='PATH2MAIN'>css/responsive.css" rel="stylesheet" type="text/css"/>

	</head>

	<body class=" login_page">

		<div class="login-wrapper">
			<div id="login" class="login loginpage col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
				<h1><a href="<TMPL_VAR NAME='ADMIN_PATH'>index.php" tabindex="-1"><TMPL_VAR NAME='LNG_CMSName'></a></h1>

				<form action="<TMPL_VAR NAME='ADMIN_PATH'>forgot_password.php" method="post" autocomplete="off">
					<TMPL_IF NAME='ErrorList'>
						<div class="alert alert-error">                                        
							<TMPL_LOOP NAME='ErrorList'>
								<TMPL_VAR NAME='Message'><TMPL_UNLESS NAME='__LAST__'><br /></TMPL_UNLESS>
							</TMPL_LOOP>
						</div>
					</TMPL_IF>
					<TMPL_IF NAME='MessageList'>
						<div class="alert alert-success">                                        
							<TMPL_LOOP NAME='MessageList'>
								<TMPL_VAR NAME='Message'><TMPL_UNLESS NAME='__LAST__'><br /></TMPL_UNLESS>
							</TMPL_LOOP>
						</div>
					</TMPL_IF>
					<p>
						<label for="Email"><TMPL_VAR NAME='LNG_Email'><br />
						<input type="email" name="Email" id="Email" class="input" value="<TMPL_VAR NAME='Login'>" size="20" /></label>
					</p>
					<p class="submit">
						<input type="submit" name="Action" id="wp-submit" class="btn btn-orange btn-block" value="<TMPL_VAR NAME='LNG_GetPassword'>" />
					</p>
				</form>
			
			</div>
		</div>		
		 
		<script src="<TMPL_VAR NAME='PATH2MAIN'>js/jquery-1.11.2.min.js" type="text/javascript"></script> 
		<script src="<TMPL_VAR NAME='PATH2MAIN'>js/jquery.easing.min.js" type="text/javascript"></script> 
		<script src="<TMPL_VAR NAME='PATH2MAIN'>plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> 
		<script src="<TMPL_VAR NAME='PATH2MAIN'>plugins/pace/pace.min.js" type="text/javascript"></script>
		<script src="<TMPL_VAR NAME='PATH2MAIN'>plugins/perfect-scrollbar/perfect-scrollbar.min.js" type="text/javascript"></script>   
		<script src="<TMPL_VAR NAME='PATH2MAIN'>plugins/viewport/viewportchecker.js" type="text/javascript"></script>  
		 
		<script src="<TMPL_VAR NAME='PATH2MAIN'>plugins/icheck/icheck.min.js" type="text/javascript"></script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 
 
		<script src="<TMPL_VAR NAME='PATH2MAIN'>js/scripts.js" type="text/javascript"></script> 

	</body>
</html>